<%- include('../partials/header') %>

<main class="campdays-container">
  <h1 class="campdays-title">Camp Days</h1>

  <% if (isAdmin) { %>
  <a class="btn-new-day" href="/campdays/new">+ New Camp Day</a>
  <% } %> <% if (days.length === 0) { %>
  <p class="no-days">No camp days found.</p>
  <% } else { %>
  <ul class="campdays-list">
    <% days.forEach(day => { %>
    <li class="campday-item">
      <a href="/campdays/<%= day._id %>" class="campday-link"><%= day.title %></a>
    </li>
    <% }) %>
  </ul>
  <% } %>
</main>
