<!DOCTYPE html>
<html lang="uk">
  <head>
    <meta charset="UTF-8" />
    <title>Login</title>
    <%- include('./partials/header') %>
  </head>
  <body>
    <main class="login-container">
      <h1 class="page-title">Admin Login</h1>

      <% if (typeof error !== 'undefined') { %>
      <p class="error-message"><%= error %></p>
      <% } %>

      <form class="login-form" action="/auth/login" method="POST">
        <input type="text" name="username" placeholder="Username" required />
        <input type="password" name="password" placeholder="Password" required />
        <button type="submit">Login</button>
      </form>
    </main>
  </body>
</html>
